.section{
    background-color: rgb(245, 245, 245);
}
.section .head .left,
.section .head .right{
    width: 50%;
}
.section .head{
    margin-bottom: 10px;
}
.section .head span{
    font-size: 18px;
}

.group_cards .leader{
    width: 20%;
}
.group_cards .cards{
    width: 80%;
}

.group_cards .cards .card{
    width: 24%;
}

.card{
    background-color: white;
    padding: 10px 5px;
    margin-left: 1%;
}
.card .text{
    text-align: center;
}
.card .title{

}
.card .desc{
    color: #b0b0b0;
    font-size: 75%;
}
.card .price{
    color: #ff6700;
    font-size: 90%;
}
.cards .row{
    margin-bottom: 8px;
}